{{template "head" .}}
<body class="body">
<div class="container-fluid vh-100">
    <div class="row" id="row1">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h2>You On The List!</h2>
            <h4>It looks like your email has signed up already</h4><br>
            <h6>You're good to go! We'll email you when the white paper and beta drops</h6><br>
            <h6>And don't forget to <a href="https://twitter.com/YourPlace_Inc" target="_blank">check us out on Twitter,</a> where we'll be posting updates as we develop</h6><br>
        </div>
    </div>
</div>
<script src="/static/js/duplicate.js" type="application/javascript"></script>
</body>
</html>