{{template "head" .}}
<script src="/static/js/failure.js" type="application/javascript"></script>
</head>
<body class="body">
    <div class="container-fluid vh-100">
        <div class="row" id="row1">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2>Failure :(</h2>
                <h4>Sorry - We have experienced an error</h4><br>
                <h6>Please Try Again Soon</h6><br>
                <h6>If you've signed up already, then your registration is safe</h6><br>
                <h6>Sending You Home In: <b><div id="timeout">10</div></b> seconds</h6>
            </div>
        </div>
    </div>
</body>
</html>