{{template "head" .}}
</head>
<body class="body">
    <div class="container-fluid vh-100">
        <div class="row" id="row1">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <img src="/static/image/yourplace-banner.png" id="logo">
                <h2>Success!</h2>
                <h4>You have signed up for the YourPlace Beta</h4><br>
                <h6>You will receive two communications:<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1) When the white paper is released<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2) When the beta is opened to you</h6><br>
                <h6>And don't forget to <a href="https://twitter.com/YourPlace_Inc" target="_blank">check us out on Twitter,</a> where we'll be posting updates as we develop</h6><br>
            </div>
        </div>
    </div>
    <script src="/static/js/success.js" type="application/javascript"></script>
</body>
</html>