[Unit]
Description=YourPlaceBeta

[Service]
ExecStart=/home/nops/BetaSignUp/target/YourPlaceBeta config.yaml
WorkingDirectory=/home/nops
StandardOutput=append:/var/log/yourplacebeta.log
Restart=always

[Install]
WantedBy=multi-user.target
