[Unit]
Description=YourPlaceBeta

[Service]
ExecStart=/opt/YourPlace/YourPlaceBeta
WorkingDirectory=/opt/YourPlace
Restart=always

[Install]
WantedBy=multi-user.target
