[Unit]
Description=YourPlaceBeta

[Service]
ExecStart=/opt/YourPlace/YourPlaceBeta
WorkingDirectory=/opt/YourPlace
StandardOutput=append:/var/log/yourplacebeta-stdout.log
Restart=always

[Install]
WantedBy=multi-user.target
